<!DOCTYPE html>
<html>
<head>
  <title>Assignment2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="body" class="<%= params[:controller] + "-" + params[:action] %>">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'Project name', root_path, :class => 'navbar-brand' %>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <% if current_user %>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
              <%= 'Welcome ' + current_user.name%>
              <i class="fa fa-user fa-fw"></i>
              <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li class="hidden"><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a></li>
                <li><a href="<%=logout_path%>"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
            </ul>
          </li>
        </ul>
        <% else %>
          <%= form_tag login_path, :class => 'navbar-form navbar-right' do %>
          <div class="form-group">
            <input type="email" placeholder="Email" class="form-control" name="login_email">
          </div>
          <div class="form-group">
            <input type="password" placeholder="Password" class="form-control" name="login_password">
          </div>
          <button type="submit" class="btn btn-success">Sign in</button>
          <% end %>
        <% end %>
      </div><!--/.navbar-collapse -->
    </div>
  </nav>
  <%= flash_messages %>
  <%= yield %>

</body>
</html>
